{% extends 'base.html'%}

{% block content %}
  {% if autor.avatar %}
  <img src="{{ autor.avatar.url }}" alt="" width="100">
  {% else %}
  <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="100">
  {% endif %}
<h1>Autor: {{ autor.nome }}</h1>
<h2>Email: {{autor.email}}</h2>
<h2>Data nascimento: {{autor.data_nascimento}}</h2>
<h2>Idade: {{autor.idade}}</h2>
<a class="btn btn-primary" href="{% url 'atualizar-autor' autor.id %}">Atualizar Autor</a>
<a class="btn btn-danger" href="{% url 'deletar-autor' autor.id %}">Apagar Autor</a>

{% endblock %}