{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}Listagem de Autores{% endblock %}
{% block content %}
<form class="d-flex mb-5" role="search" method="get">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Pesquisar" name="q" id="q">
  <button class="btn btn-outline-success" type="submit">Pesquisar</button>
</form>
  <ul class="list-group list-group-flush">
    {% for autor in page_obj %}
    <li class="list-group-item">
      {% if autor.avatar %}
      <img src="{{ autor.avatar.url }}" alt="" width="60">
      {% else %}
      <img src="https://cdn.pixabay.com/photo/2016/09/01/08/24/smiley-1635449_1280.png" alt="" width="60">
      {% endif %}      
      <a href="{% url 'detalhar-autor' autor.id %}">{{autor.nome}}</a></li>
    {% endfor %}
  </ul>
  {% bootstrap_pagination page_obj %}
  {% if perms.noticia.add_autor %}
  <a class="btn btn-primary" href="{% url 'cadastrar-autor' %}" role="button">Cadastrar Autor</a>
  {% endif %}
{% endblock %}